name: bizlingo
description: "Smart Business English learning app with TTS and progress tracking."
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=3.10.4 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  shared_preferences: ^2.5.4
  flutter_tts: ^4.2.3
  js: ^0.6.7
  cupertino_icons: ^1.0.8

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/icon.png
    - assets/phrases.json